*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat' , sans-serif;
}
body{
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2 , #c9d6ff );
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.container{
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 0 5px rgba(0,0,0,0.35);
    position: relative;
    overflow: hidden;
    width: 900px;
    max-width: 100%;
    min-height: 550px;
}
.container p{
    font-size: 14px;
    line-height: 10px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}
.container button{
    background-color: #512da8;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.container button.hidden{
    background-color: transparent;
    border-color: #fff;

}
.container form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
    height: 100%;
}
.container input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 10px;
    font-size: 13px;
    border-radius: 8px;
    width:100%;
    outline: none;


}
.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}
.sign-in{
    left: 0;
    width: 50%;
    z-index: 2;
}
.container.active .sign-in{
    transform: translateX(100%);
}
.sign-up{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}
.container.active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}
@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;

    }
    50%, 100%{
        opacity: 1;
        z-index: 5;

    }
}

.toggle-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;

}
.container.active .toggle-container{
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;

}

.toggle{
    background-color: #512da8;
    height: 100%;
    background: linear-gradient(to right, #5c6bc0, #512da8);
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6ss ease-in-out;

}
.container.active .toggle{
    transform: translateX(50%);
}

.toggle-pannel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;


}
.toggle-left{
    transform: translateX(-200%);

}

.container.active .toggle-left{
    transform: translateX(0);

}
.toggle-Right{
    right: 0;
    transform: translateX(0);

}

.container.active .toggle-Right{
    transform: translateX(200%);
    
}

nav {
    display: flex;
    justify-content:right;
    padding: 20px 10%;
    background: linear-gradient(to right, #5c6bc0, #512da8);

    color: white;
    flex-wrap: wrap;
}







 .content{
    flex: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
}
.content h1{
    color: #fff;
    font-size: 60px;
    letter-spacing: 15px;

}
.content h1 span{
    color: #111;
}
.gender-selection {
    display: inline-flex;
    align-items: center;
}

.gender-selection input[type="radio"] {
    margin-right: 5px;
}

.gender-selection label {
    margin-right: 20px;
}





