
html, body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f4f8;
    color: #333;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  header {
    margin: 0;
    padding: 10px 10px; /* Reduced padding for the header */
    width: 100%;
    z-index: 1000;
    background-color: #135cb0;
    position: fixed; /* Keep the header fixed */
    top: 0; /* Stick to the top */
    display: flex; /* Use flex to align items in a row */
    justify-content:space-evenly; /* Space between title and nav */
    align-items: center; /* Center align items vertically */
  }
  
  header h1 {
    margin: 0;
    font-size: 2rem;
    color: white;
  }
  
  nav {
    display: flex; /* Use flexbox for alignment */
   flex-grow: 1; /* Allow nav to grow and take available space */
   justify-content: flex-end;
  
}

nav ul {
 display: flex;
 list-style: none;
 margin: 0;
 padding: 0;
 text-align: right;
 justify-content: space-around;

}

nav ul li {
display: inline-block;
margin: 0 15px;
}
  
nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 1rem; /* Reduced font size for nav links */
    padding: 10px 15px;
  }
  
  nav ul li a:hover {
    color: #ffeb3b;
  }
  main {
    flex: 1;
    margin-top: 70px; /* Space below header */
  }
  
  
  .content {
    flex: 1;
    text-align: left; /* Center align content */
    justify-content: flex-start; 
  
  }
  
  .content h1 {
    color: #fff;
    font-size: 60px;
    letter-spacing: 15px;
  }
  
  .content h1 span {
    color: #111;
  }
  
  .content-box {
    background-color: #f9f9f9; 
    border: 1px solid #ddd; 
    border-radius: 15px; 
    padding: 20px 15px; 
    margin: 40px auto; 
    max-width: 600px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    margin-top: 80px; 
  }
  
  .content-heading {
    font-size: 24px; 
    color: #135cb0; 
    margin-bottom: 10px; 
    text-align: center;
  }
  
  .content-paragraph {
    font-size: 16px; 
    color: #555; 
    line-height: 1.6; 
    text-align: center;
  }
  
  .content-image {
    max-width: 100%; /* Ensure the image fits within the container */
    height: auto; /* Maintain aspect ratio */
    margin-top: 20px; /* Space above the image */
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
    
  }
  @media  screen and (max-width: 768px) {
    nav-ul{
      flex-direction: column;
      align-items:flex-end;
    }
  }
  
  